<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>567284717762-ll4m9av6n6rmc462fpnf498b6lt2b5in.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.567284717762-ll4m9av6n6rmc462fpnf498b6lt2b5in</string>
	<key>API_KEY</key>
	<string>AIzaSyBpaiOXIGHCdBYebF7q03T4k5XVRwQAvgA</string>
	<key>GCM_SENDER_ID</key>
	<string>567284717762</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.emiyaconsulting.Flash-Chat-iOS13</string>
	<key>PROJECT_ID</key>
	<string>emiya-flash-chat-ios13</string>
	<key>STORAGE_BUCKET</key>
	<string>emiya-flash-chat-ios13.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:567284717762:ios:2f796ebad014b9eef7c35b</string>
</dict>
</plist>